.home-list {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5rem;

  p {
    font-size: 2rem;
    margin-top: 1rem;
    padding-block: 0;
    margin-left: 2rem;
  }
  .home-list-ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-block: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .home-list {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5rem;

    p {
      font-size: 1rem;
      margin-top: 1rem;
      padding-block: 0;
      margin-left: 2rem;
    }
    .home-list-ul {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      margin-block: 2rem;
      overflow-x: auto;
      white-space: nowrap;
      font-family: 'Poppins', sans-serif;
      padding-right: 3rem;
    }
  }
}
